@import url('https://rsms.me/inter/inter.css');
body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  vertical-align: middle;
}
#root {
  height: 100vh;
  position: relative;
}
